*{
	box-sizing: border-box;
    font-family: verdana;
}

body{
	background-color: #f0f2f5;
}

#dateSection{
	padding: 10px;
}
#content{
	margin: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border: 1px solid grey;

}

form > div {
	margin-bottom: 18px;
}

.setHour{
	width: 30px;
}

.redFont{
	color: red;
}

table{
	width: 95%;
	/*border: 1px solid gray;*/
	margin: 0 auto;
	border-spacing: 1px;
}

th {
	height: 30px;
	border: 1px solid grey;
	font-size: 0.8em;
	border-radius: 5px;
}

#th-id{
	width: 4%;
}

#th-type{
	width: 15%;
}

#th-content{
	width: 45%;
}

#th-date{
	width: 10%;
}

#th-time{
	width: 10%;
}
#th-cancel{
	width: 5%;
}

td{
	text-align: center;
	height: 50px;
	border: 1px solid grey;
	border-radius: 5px;
}