*{
	box-sizing: border-box;
    font-family: verdana;}

#dateSection{
	padding: 10px;
}
#content{
	margin: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	border: 1px solid grey;
}

form > div {
	margin-bottom: 18px;
}

.setHour{
	width: 30px;
}

.redFont{
	color: red;
}